#websocket {
  box-sizing: border-box;
  display: grid;
  gap: .5rem;
  grid-template-columns: minmax(300px, 50%) minmax(300px, 50%);
  grid-template-rows: minmax(300px, 50%) minmax(300px, 50%);

  h3 {
    font-weight: 300;
  }

  #request {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
  }
}
