@import 'styles/palette.scss';

@mixin btn-interactive($intent, $text: #fff) {
  border: none;
  background-color: $intent;
  color: $text;

  &:hover {
    background-color: darken($intent, 10);
  }

  &:disabled {
    background-color: darken($intent, 25);
    color: darken($text, 30);
    cursor: not-allowed;
    opacity: 1;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid $text;
  border-radius: .25rem;
  box-sizing: border-box;
  color: $text;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  margin: 0 .3rem;
  padding: .3rem .6rem;
  outline: none;

  &:hover {
    background-color: $text;
    color: $background;
  }

  &:disabled {
    border-style: dashed;
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      // Overwrite hover behavior
      background-color: transparent;
      color: $text;
    }
  }

  &.primary {
    @include btn-interactive($primary);
  }

  &.secondary {
    @include btn-interactive($secondary);
  }

  &.success {
    @include btn-interactive($success);
  }

  &.warning {
    @include btn-interactive($warning);
  }

  &.danger {
    @include btn-interactive($danger);
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &.with-icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .icon-wrapper {
    margin: 0 .5rem 0 0;
  }
}
