@import 'styles/theme.scss';

#ws-payload {
  height: max-content;
  margin-top: .5rem;

  header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    h3 {
      margin: 0;
    }
  }

  #payload-form {
    box-sizing: border-box;
    display: flex;
    padding: .5rem;
    width: 100%;

    #input {
      width: calc(100% - 85px);
    }

    #button {
      width: 85px;
    }
  }
}

#ws-payload-type {
  border: 1px solid $text;
  border-radius: .25rem;
  padding: .3rem .6rem;
}
