#request-menu {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  margin: 1.5rem 2rem;
  opacity: .5;

  &:hover, &.active {
    opacity: 1;
  }

  #options {
    background-color: #4e4e4e;
    border-radius: 2.4rem 2.4rem 0 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: -35px;
    padding: 1px 0 40px 0;
    width: 70px;

    li {
      align-items: center;
      background-color: #777777;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      font-size: 1.7rem;
      justify-content: center;
      height: 60px;
      margin: .5rem auto;
      transition: .5s;
      width: 60px;

      &:hover {
        background-color: #6e6e6e;
        transition: .5s;
      }
    }
  }

  #call {
    align-items: center;
    background-color: #3a3a3a;
    border: .2rem solid #4e4e4e;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    font-size: 1.7rem;
    height: 70px;
    justify-content: center;
    outline: none;
    transition: .5s;
    width: 70px;

    &:hover {
      background-color: #6e6e6e;
      border-color: #6e6e6e;
      border-width: .4rem;
      font-size: 2rem;
      transition: .3s;
    }
  }
}
