@import 'styles/theme.scss';

#ws-server {
  border: 1px solid $dark-grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  grid-column: 1 / 1;
  grid-row: 1 / 3;

  header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    h3 {
      margin: 0;
    }
  }

  #server-form {
    box-sizing: border-box;
    display: flex;
    padding: .5rem;
    width: 100%;

    #input {
      width: calc(100% - 85px);
    }

    #button {
      width: 85px;
    }
  }
}

#ws-connection {
  box-sizing: border-box;

  span {
    display: inline-block;
  }

  #icon {
    color: $background;
    margin-right: 1rem;
  }

  #label {
    border-radius: .25rem;
    box-sizing: border-box;
    color: $background;
    padding: .3rem .6rem;

    &.conn {
      background-color: $success;
    }

    &.disc {
      background-color: $danger;
    }
  }
}
